body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  background-color: #f1f1f1;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 20;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar-dropdown {
  padding-left: 20px;
}

.sidebar-dropdown-options {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px 10px 10px 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
}

button[type="submit"] {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Ishaan --- onwards*/


.main .sub-navbar {
  background-color: #f1f1f1;
  /* padding-bottom: 10px; */
  padding-left: 30px;
  margin-left: 250px;
}

.main .sub-navbar li {
  padding: 10px 10px 10px 10px;
  transition: 0.2s;
}

.main .sub-navbar .active {
  background-color: #cccccc;
}

.main .sub-navbar li:hover {
  background-color: #cccccc;
}

.main .sub-navbar a {
  color: #282c34;
}

.analytics {
  margin: 20px 20px 20px 260px;
}

.social-media{
  height: 20px;
  width: 20px;
  margin-right: 7px;
  margin-left: 3px;
}

input[type="checkbox"]{
  height: 20px;
  width: 20px;
  clip-path: circle(40% at 50% 50%);
}